/*

“This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2017-2018”

Authored by Sebastian Morado

*/


body{
  font-family: 'Myriad Pro', sans-serif;
}

h1{
  font-size: 40px;
  margin-bottom: 15px !important;
}

h2{
  font-weight: 600;
}

label{
  font-weight: 600;
  margin-right: 10px;
  margin-left: 10px;
}

#about_textbox{
  text-align: center;
  margin-top: 50px;
  font-size: 24px;
  
}

#reset_hours{
  margin-left: 20px;
}

#add{
  width: 150px;
  height: 60px;
  font-size: 24px;
  font-weight: 800;
  background-color: white;
  border-color: #A9C358;
  border-radius: 10px;
  color: #A9C358;
  border-width: 2px;
  background-image: none;
  border-style: solid;
  margin-top: 20px;
}

#workspace_name{
  margin-left: 10px;
  font-weight: 600;
  font-size: 32px;
}

.sub{
  font-size: 18px;
  color: grey;
  font-style: italic;
  margin-left: 10px;
}


::placeholder{
  font-size: 12px;
  color: gray;
  opacity: 1;
}

#info_box{
  background-color: #e6f8b2;
  border-radius: 10px;
  padding: 25px;
  border: 2px solid black;
}

#hours{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.hours_box{
  width: 110px;
}

.row{
  margin-bottom: 10px;
}

#wifi{
  margin-bottom: 10px;
}

#still_operating{
  margin-bottom: 10px;
}

#socket{
  margin-bottom: 10px;
}

#add_name{
  width: 300px;
}

#add_address{
  width: 700px;
}

#add_branch{
  width: 300px;
}

#add_image{
  width: 700px;
}

.text_box{
  border-radius: 5px;
  padding: 4px;
  margin-left: 10px;
  border: 1px solid grey;
  margin-bottom: 5px;
}


.navbar{
  min-height: 60px !important;
  background-color: #A9C358 !important;
  margin-bottom: 0px !important;
}


#sign-out{
  display: none;
}

#brand{
  margin-left: 15px;
  margin-top: 0px;
}

#branch{
  display: none;
}

.search_bar{
  text-align: center;
  color: white;
  padding-bottom: 80px;
  padding-top: 70px;
}

.container-1{
  overflow: hidden;
  width: 460px;
  vertical-align: middle;
  white-space: nowrap;
  margin: 0 auto;
}

.container-1 input#search{
  width: 460px;
  height: 46px;
  background: white;
  border: none;
  font-size: 13pt;
  float: left;
  color: grey;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 15px;
}

.container-1 input#search::-webkit-input-placeholder {
   color: #999999;
   font-style: italic;
}

.container-1 input#search:-moz-placeholder { /* Firefox 18- */
   color: #999999;
   font-style: italic;
}

.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #999999;
   font-style: italic;
}

.container-1 input#search:-ms-input-placeholder {
   color: #999999;
   font-style: italic;
}

.container-1 button.icon{
  -webkit-border-top-right-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomright: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

  border: none;
  background: #A9C358;
  height: 46px;
  width: 50px;
  color: #4f5b66;
  opacity: 1;
  font-size: 10pt;
  margin-left: -50px;
  outline: none;

}

.center_align{
  margin-top: 25px;
  text-align: center;
  margin-bottom: 15px;
}


.footer-basic-centered{
  background-color: #64762A;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font: normal 18px sans-serif;

  padding: 45px;
  margin-top: 80px;
}

.footer-basic-centered .footer-company-motto{
  color:  #8d9093;
  font-size: 24px;
  margin: 0;
}

.footer-basic-centered .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  margin: 0;
}

.footer-basic-centered .footer-links{
  list-style: none;
  font-weight: bold;
  color:  #ffffff;
  padding: 35px 0 23px;
  margin: 0;
}

.footer-basic-centered .footer-links a{
  display:inline-block;
  text-decoration: none;
  color: inherit;
}

@media only screen and (max-width: 992px) {
  #add_name{
    width: 250px;
  }
}


@media only screen and (max-width: 768px) {

  h1{
    font-size: 26px;
  }

  label{
    font-size: 14px;
  }

  .container-1{
    width: 300px;
  }

  .container-1 input#search{
    width: 300px;
    font-size: 12px !important;
  }

  #search_header{
    font-size: 22px !important;
  }


  .footer-basic-centered{
    padding: 35px;
  }

  .footer-basic-centered .footer-company-motto{
    font-size: 18px;
  }

  .footer-basic-centered .footer-company-name{
    font-size: 12px;
  }

  .footer-basic-centered .footer-links{
    font-size: 14px;
    padding: 25px 0 20px;
  }

  .footer-basic-centered .footer-links a{
    line-height: 1.8;
  }
}
