/*

“This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2017-2018”

Authored by Sebastian Morado

*/


body{
  font-family: 'Myriad Pro', sans-serif;
}

h1{
  font-size: 40px;
  margin-bottom: 15px !important;
}


.navbar{
  min-height: 60px !important;
  background-color: #A9C358 !important;
  margin-bottom: 0px !important;
}

#results_head{
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 0px;
}

#sign-out{
  display: none;
}

#brand{
  margin-left: 15px;
  margin-top: 0px;
}

#register{
  color: black !important;
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  right: 20px;
  top: 27px;
}

.search_bar{
  text-align: center;
  color: white;
  padding-bottom: 80px;
  padding-top: 70px;
}

#value_container{
  display: none;
}

.container-1{
  overflow: hidden;
  width: 460px;
  vertical-align: middle;
  white-space: nowrap;
  margin: 0 auto;
}

.container-1 input#search{
  width: 460px;
  height: 46px;
  background: white;
  border: none;
  font-size: 13pt;
  float: left;
  color: grey;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 15px;
}

.container-1 input#search::-webkit-input-placeholder {
   color: #999999;
   font-style: italic;
}

.container-1 input#search:-moz-placeholder { /* Firefox 18- */
   color: #999999;
   font-style: italic;
}

.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #999999;
   font-style: italic;
}

.container-1 input#search:-ms-input-placeholder {
   color: #999999;
   font-style: italic;
}

.container-1 button.icon{
  -webkit-border-top-right-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomright: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

  border: none;
  background: #A9C358;
  height: 46px;
  width: 50px;
  color: #4f5b66;
  opacity: 1;
  font-size: 10pt;
  margin-left: -50px;
  outline: none;

}

.container-2{
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  margin-top: 10px;
  margin-bottom: 15px;
}

.container-2 input#search2{
  width: 100%;
  height: 46px;
  background: white;
  border: none;
  font-size: 13pt;
  float: left;
  color: grey;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 15px;
}

.container-2 input#search2::-webkit-input-placeholder {
   color: #999999;
   font-style: italic;
}

.container-2 input#search2:-moz-placeholder { /* Firefox 18- */
   color: #999999;
   font-style: italic;
}

.container-2 input#search2::-moz-placeholder {  /* Firefox 19+ */
   color: #999999;
   font-style: italic;
}

.container-2 input#search2:-ms-input-placeholder {
   color: #999999;
   font-style: italic;
}

.container-2 #search_button1{
  -webkit-border-top-right-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomright: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

  border: none;
  background: none;
  height: 30px;
  width: 30px;
  color: #4f5b66;
  opacity: 1;
  font-size: 10pt;
  margin-left: -70px;
  outline: none;
  margin-top: 8px;
}

.container-2 #search_button2{
  -webkit-border-top-right-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomright: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

  border: none;
  background: none;
  height: 30px;
  width: 30px;
  color: #4f5b66;
  opacity: 1;
  font-size: 10pt;
  margin-right: 100px;
  outline: none;

}

.center_align{
  margin-top: 25px;
  text-align: center;
  margin-bottom: 15px;
}

.filter{
  text-align: center;
}

.small_img{
  display: block;
  margin: auto;
  height: 100px;
  margin-bottom: 10px;
}

.large_img{
  display: block;
  margin: auto;
  height: 55px;
  margin-bottom: 10px;
  margin-top: 40px;
}

.filter span{
  font-weight: 800;
  font-size: 22px;
}

.filter_option{
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.filter_button{
  margin-top: 50px;
  text-align: center;
  margin-bottom: 30px;
}

#filter{
  width: 130px;
  height: 50px;
  font-size: 22px;
  font-weight: 800;
  background-color: white;
  border-color: #A9C358;
  border-radius: 10px;
  color: #A9C358;
  border-width: thin;
  background-image: none;
  border-style: solid;
}

.footer-basic-centered{
  background-color: #64762A;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font: normal 18px sans-serif;

  padding: 45px;
  margin-top: 80px;
}

.footer-basic-centered .footer-company-motto{
  color:  #8d9093;
  font-size: 24px;
  margin: 0;
}

.footer-basic-centered .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  margin: 0;
}

.footer-basic-centered .footer-links{
  list-style: none;
  font-weight: bold;
  color:  #ffffff;
  padding: 35px 0 23px;
  margin: 0;
}

.footer-basic-centered .footer-links a{
  display:inline-block;
  text-decoration: none;
  color: inherit;
}

#search_container .search_entry{
  height: 150px;
}

#search_container .entry{
  background-color: #EEF3DE;
  border: 1px solid black;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-bottom: 10px;
}

#search_container .entry_top{
  height: 32px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 12px;
  margin-top: 10px;
  margin-left: 15px;
}

#search_container .entry_head{
  display: flex;
  justify-content: flex-start;

}

#search_container .entry_distance{
  justify-content: flex-end;
  display: flex;
  margin-right: 5%;
  margin-top: 12px;
}

#search_container .filters{
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#search_container .filters img{
  height: 36px;
  margin: 15px 5px 15px 5px;
}

#search_container #title{
  font-size: 32px;
  font-weight: 600;
}

#search_container #branch{
  font-size: 20px;
  color: grey;
  margin-left: 14px;
  margin-top: 12px;
  font-style: italic;
}

#search_container #distance{
  font-size: 20px;
  color: grey;
  font-style: italic;
}


#search_container .type{
  justify-content: flex-start;
  font-size: 20px;
  color: grey;
  margin-left: 14px;
}

#maps_container{
  margin-top: 80px;
  display: none;
}

#maps_proper{
  background-color: #EEF3DE;
  
}

#map_results{
  overflow-y: scroll;
  height: 500px;
}

#map {
  height: 500px;
  width: 100%;
}

#maps_container .search_entry{
  height: 100px;
}

#title{
  color: black !important;
}

#maps_container .entry{
  background-color: #EEF3DE;
  border: 1px solid black;
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-bottom: 10px;
}

#maps_container .entry_top{
  height: 26px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 0px;
  margin-top: 5px;
  margin-left: 0px;
}

#maps_container .entry_head{
  display: flex;
  justify-content: flex-start;

}

#maps_container .entry_distance{
  justify-content: flex-end;
  display: flex;
  margin-right: 5%;
  margin-top: 5px;
}

#maps_container .filters{
  margin-left: 5%;
  margin-right: 5%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#maps_container .filters img{
  height: 18px;
  margin: 10px 2px 10px 2px;
}

#maps_container #title{
  font-size: 20px;
  font-weight: 600;
}

#maps_container #branch{
  font-size: 12px;
  color: grey;
  margin-left: 6px;
  margin-top: 8px;
  font-style: italic;
}

#maps_container #distance{
  font-size: 12px;
  color: grey;
  font-style: italic;
}

#latitude{
  display: none;
}

#longitude{
  display: none;
}

#maps_container .type{
  justify-content: flex-start;
  font-size: 12px;
  color: grey;
  margin-left: 0px;
}


@media only screen and (max-width: 768px) {

  h1{
    font-size: 26px;
  }

  .entry_top{
    margin-bottom: 0px !important;
    margin-left: 14px !important;
  }

  #results_head{
    font-size: 26px;
  }

  .search_entry{
    height: 110px;
  }

  .entry_distance{
    margin-right: 2px !important;
    margin-top: 8px !important;
  }

  #distance{
    font-size: 12px !important;
  }

  #title{
    font-size: 20px !important;
  }

  #branch{
    font-size: 12px !important;
    margin-top: 8px !important;
  }

  .filters{
    margin-left: 10px;
    margin-right: 5px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  #workspace_type{
    font-size: 12px;
  }

  .filters img{
    height: 18px !important;
    margin: 0px 4px 6px 4px !important;
  }

  .type{
    font-size: 12px;
    margin-top: 0px;
    margin-left: 5px;
  }

  .container-1{
    width: 300px;
  }

  .container-1 input#search{
    width: 300px;
    font-size: 12px;
  }

  #search_header{
    font-size: 22px !important;
  }

  .filter_option{
    height: 200px !important;
  }

  .large_img{
    height: 50px;
  }

  .filter span{
    font-size: 18px;
  }
  .filter_button{
    margin-top: 0px;
  }

  .footer-basic-centered{
    padding: 35px;
  }

  .footer-basic-centered .footer-company-motto{
    font-size: 18px;
  }

  .footer-basic-centered .footer-company-name{
    font-size: 12px;
  }

  .footer-basic-centered .footer-links{
    font-size: 14px;
    padding: 25px 0 20px;
  }

  .footer-basic-centered .footer-links a{
    line-height: 1.8;
  }

  #maps_container{
    display: none !important;
  }
}
