/*

“This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2017-2018”

Authored by Sebastian Morado

*/

h1{
  font-size: 32px;
}

.navbar{
  min-height: 60px !important;
  background-color: #A9C358 !important;
  margin-bottom: 0px !important;
}

button:disabled{
  background-color: #dddddd !important;
}

#sign-out{
  display: none;
}

#brand{
  margin-left: 15px;
  margin-top: 0px;
}

#invalid_container{
  display: none;
}

#message_container{
  display: none;
}

#register{
  color: black !important;
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  right: 20px;
  top: 27px;
}

.search_bar{
  text-align: center;
  color: white;
  padding-bottom: 80px;
  padding-top: 70px;
}

/* some CSS taken from http://cssdeck.com/labs/sleek-sign-up */

.container-1{
  overflow: hidden;
  width: 420px;
  vertical-align: middle;
  white-space: nowrap;
  margin: 0 auto;
}

.container-1 input#search{
  width: 420px;
  height: 42px;
  background: white;
  border: none;
  font-size: 13pt;
  float: left;
  color: grey;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 15px;
}

.container-1 input#search::-webkit-input-placeholder {
   color: #999999;
   font-style: italic;
}

.container-1 input#search:-moz-placeholder { /* Firefox 18- */
   color: #999999;
   font-style: italic;
}

.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #999999;
   font-style: italic;
}

.container-1 input#search:-ms-input-placeholder {
   color: #999999;
   font-style: italic;
}

.container-1 button.icon{
  -webkit-border-top-right-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomright: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

  border: none;
  background: #A9C358;
  height: 42px;
  width: 50px;
  color: #4f5b66;
  opacity: 0;
  font-size: 10pt;

  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.container-1:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
  outline: none;
  opacity: 1;
  margin-left: -50px;
}

.container-1:hover button.icon:hover{
  background: #A9C358;
}

.center_align{
  margin-top: 25px;
  text-align: center;
  margin-bottom: 15px;
}

.footer-basic-centered{
  background-color: #64762A;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font: normal 18px sans-serif;

  padding: 45px;
  margin-top: 80px;
}

.footer-basic-centered .footer-company-motto{
  color:  #8d9093;
  font-size: 24px;
  margin: 0;
}

.footer-basic-centered .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  margin: 0;
}

.footer-basic-centered .footer-links{
  list-style: none;
  font-weight: bold;
  color:  #ffffff;
  padding: 35px 0 23px;
  margin: 0;
}

.footer-basic-centered .footer-links a{
  display:inline-block;
  text-decoration: none;
  color: inherit;
}

@media only screen and (max-width: 768px) {

  .footer-basic-centered{
    padding: 35px;
  }

  .footer-basic-centered .footer-company-motto{
    font-size: 18px;
  }

  .footer-basic-centered .footer-company-name{
    font-size: 12px;
  }

  .footer-basic-centered .footer-links{
    font-size: 14px;
    padding: 25px 0 20px;
  }

  .footer-basic-centered .footer-links a{
    line-height: 1.8;
  }

  .container-1 input#search{
    width: 300px;
    font-size: 12px;
  }

  #search_header{
    font-size: 22px !important;
  }

  .container{
    padding: 50px 0px 0px 0px !important;
  }
  #results_head{
    font-size: 26px;
  }



  #signup {
    padding: 0px 0px 10px 20px !important;
    max-width: 100% !important;
    width: 100% !important;
    overflow-x: hidden;
  }
  .inputs{
    width: 80% !important;
  }
  .sep{
    max-width: 100% !important;
  }

  #submit{
    max-width: 90% !important;
  }

  .header h3{
    max-width: 80% !important;
  }

  .header p{
    max-width: 80% !important;
  }

  .header{
    max-width: 80% !important;
  }

}


}

body {
    font-family: 'Myriad Pro', sans-serif;
}

.container {
    width: 406px;
    max-width: 406px;
    margin: 0 auto;
    padding-top: 50px;
}


#message {
    padding: 0px 25px 25px;
    background: #fff;
    box-shadow:
        0px 0px 0px 5px rgba( 255,255,255,0.4 ),
        0px 4px 20px rgba( 0,0,0,0.33 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: static;
}

#message img{
  float: left;
  margin-right: 10px;
}


#message .header h3 {
    color: #333333;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}


#signup {
    padding: 0px 25px 25px;
    background: #fff;
    box-shadow:
        0px 0px 0px 5px rgba( 255,255,255,0.4 ),
        0px 4px 20px rgba( 0,0,0,0.33 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    display: table;
    position: static;
}

#signup .header {
    margin-bottom: 20px;
}

#signup .header h3 {
    color: #333333;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

#signup .header p {
    color: #8f8f8f;
    font-size: 14px;
    font-weight: 300;
}

#signup .sep {
    height: 1px;
    background: #e8e8e8;
    width: 406px;
    margin: 0px -25px;
}

#signup .inputs {
    margin-top: 25px;
}

#signup .inputs p{
  color: #8f8f8f;
  font-size: 14px;
  font-weight: 300;
}

#signup .inputs label {
    color: #8f8f8f;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 7px;
    display: block;
}

input::-webkit-input-placeholder {
    color:    #b5b5b5;
}

input:-moz-placeholder {
    color:    #b5b5b5;
}

#signup .inputs input[type=email], input[type=password] {
    background: #f5f5f5;
    font-size: 0.8rem;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    padding: 13px 10px;
    width: 330px;
    margin-bottom: 20px;
    box-shadow: inset 0px 2px 3px rgba( 0,0,0,0.1 );
    clear: both;
}

#signup .inputs input[type=email]:focus, input[type=password]:focus {
    background: #fff;
    box-shadow: 0px 0px 0px 3px #fff38e, inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 );
    outline: none;
}

#signup .inputs .checkboxy {
    display: block;
    position: static;
    height: 25px;
    margin-top: 10px;
    clear: both;
}

#signup .inputs input[type=checkbox] {
    float: left;
    margin-right: 10px;
    margin-top: 3px;
}

#signup .inputs label.terms {
    float: left;
    font-size: 14px;
    font-style: italic;
}

#signup .inputs #submit {
    width: 100%;
    margin-top: 20px;
    padding: 15px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    text-decoration: none;
    background: #A9C358;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #737b8d;
    -moz-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    -webkit-box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    box-shadow:
        0px 5px 5px rgba(000,000,000,0.1),
        inset 0px 1px 0px rgba(255,255,255,0.5);
    text-shadow:
        0px 1px 3px rgba(000,000,000,0.3),
        0px 0px 0px rgba(255,255,255,0);
    display: table;
    position: static;
    clear: both;
}

#signup .inputs #submit:hover {
    background: #90ab3d;
}
