/*

“This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2017-2018”

Authored by Sebastian Morado

*/

body{
  font-family: 'Myriad Pro', sans-serif;
}

#closed{
  font-weight: 600;
  color: red;
  font-size: 22px;
  display: none;
}

#branch{
	margin-left: 10px;
	font-weight: 400;
}


p{
	margin-bottom: 0px !important;
}

#workspace_name{
	font-weight: 800;
  font-size: 40px;
  margin-bottom: 15px !important;
}

#back{
	color: #0000EE;
	font-size: 14px;
	font-weight: 200;
	margin-bottom: 15px;
  max-width: 120px !important;
  display: flex;
}

#update{
  color: #0000EE;
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 15px;
  max-width: 120px !important;
  float: right;
  display: flex;
}

.flex_box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#map {
  height: 400px;
  width: 100%;
}


.sub{
	font-size: 16px;
  color: grey;
  font-style: italic;
}

.bold{
	font-weight: 800;
	font-size: 18px;
}

.hours{
	float: right;
}

#hours_container{
	width: 270px;
  margin-bottom: 15px;
}


.filter{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

.margin_top{
	margin-top: 20px;
}

.small_img{
  display: block;
  margin: auto;
  height: 100px;
  margin-bottom: 10px;
}

.large_img{
  display: block;
  margin: auto;
  height: 55px;
  margin-bottom: 10px;
  margin-top: 40px;
}

.filter span{
  font-weight: 800;
  font-size: 22px;
  text-align: center;
}

.filter_option{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.container-1{
  overflow: hidden;
  width: 460px;
  vertical-align: middle;
  white-space: nowrap;
  margin: 0 auto;
}

.container-1 input#search{
  width: 460px;
  height: 46px;
  background: white;
  border: none;
  font-size: 13pt;
  float: left;
  color: grey;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 15px;
}

.container-1 input#search::-webkit-input-placeholder {
   color: #999999;
   font-style: italic;
}

.container-1 input#search:-moz-placeholder { /* Firefox 18- */
   color: #999999;
   font-style: italic;
}

.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #999999;
   font-style: italic;
}

.container-1 input#search:-ms-input-placeholder {
   color: #999999;
   font-style: italic;
}

.container-1 button.icon{
  -webkit-border-top-right-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
  -moz-border-radius-topright: 15px;
  -moz-border-radius-bottomright: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

  border: none;
  background: #A9C358;
  height: 46px;
  width: 50px;
  color: #4f5b66;
  opacity: 1;
  font-size: 10pt;
  margin-left: -50px;
  outline: none;

}

.navbar{
  min-height: 60px !important;
  background-color: #A9C358 !important;
  margin-bottom: 0px !important;
}

#results_head{
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 0px;
}

#sign-out{
  display: none;
}

#brand{
  margin-left: 15px;
  margin-top: 0px;
}

#register{
  color: black !important;
  position: absolute;
  font-size: 20px;
  font-weight: 600;
  right: 20px;
  top: 27px;
}

.search_bar{
  text-align: center;
  color: white;
  padding-bottom: 80px;
  padding-top: 70px;
}

.footer-basic-centered{
  background-color: #64762A;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: center;
  font: normal 18px sans-serif;

  padding: 45px;
  margin-top: 80px;
}

.footer-basic-centered .footer-company-motto{
  color:  #8d9093;
  font-size: 24px;
  margin: 0;
}

.footer-basic-centered .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  margin: 0;
}

.footer-basic-centered .footer-links{
  list-style: none;
  font-weight: bold;
  color:  #ffffff;
  padding: 35px 0 23px;
  margin: 0;
}

.footer-basic-centered .footer-links a{
  display:inline-block;
  text-decoration: none;
  color: inherit;
}

@media only screen and (max-width: 768px) {

  h1{
    font-size: 26px;
  }

  .entry_top{
    margin-bottom: 0px;
    margin-left: 5px;
  }

  .search_entry{
    height: 110px;
  }

  .entry_distance{
    margin-right: 5px;;
    margin-top: 10px;
  }

  .small_img{
    height: 50px;
  }

  .large_img{
    height: 40px;
  }

  #time{
    padding-top: 30px !important;
  }

  .filter span{
    font-size: 18px;
  }

  .footer-basic-centered{
    padding: 35px;
  }

  .footer-basic-centered .footer-company-motto{
    font-size: 18px;
  }

  .footer-basic-centered .footer-company-name{
    font-size: 12px;
  }

  .footer-basic-centered .footer-links{
    font-size: 14px;
    padding: 25px 0 20px;
  }

  .footer-basic-centered .footer-links a{
    line-height: 1.8;
  }

  .container-1{
    width: 300px;
  }

  .container-1 input#search{
    width: 300px;
    font-size: 12px;
  }

  #search_header{
    font-size: 22px !important;
  }


}
