//
  “This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2017-2018”
  Authored by Sebastian Morado

// 
  April 10, 2018
  Initial web code and design for about page
html
  head
    meta(name='viewport', content='width=device-width')
    | 
    meta(charset='utf-8')
    |   
    link(rel='shortcut icon', href='')
    |   
    title Workspace
    |   
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', rel='stylesheet')
    |   
    link(rel='stylesheet', type='text/css', href='/css/add_update.css')
    |   
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,500,600,700,800,900', rel='stylesheet')
    |   
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', rel='stylesheet')
  body
    //
      February 3, 2018, Sebastian Morado
      Initial html code for homepage,including search bar nav bar, filter, and footer
    nav.navbar.navbar-expand-lg.navbar-light
      a.navbar-brand(href='/')
        img#brand.d-inline-block.align-top(src='/images/assets-17.png', height='40', alt='')
      |     
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo02', aria-controls='navbarTogglerDemo02', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      |     
      #navbarTogglerDemo02.collapse.navbar-collapse.navbar-right
        ul.navbar-nav.ml-auto.mt-2.mt-lg-0
          if !isLogin
            li.nav-item
              a.nav-link(href='/registration') Register
          
          if !isLogin  
            li#sign-in.nav-item
              a.nav-link(href='/signin') Sign-in
          
          if isLogin         
            li.nav-item
              a.nav-link(href='/logout') Sign-out
          //
            March 7, 2018, Sebastian Morado
            added add entry option
          if isLogin         
            li.nav-item
              a.nav-link(href='/add') Add Entry
    |   
    .container-fluid
      .row(style='background-size: cover; background-position: center 60%; background-image: linear-gradient(rgba(35,35,35,0.5),rgba(35,35,35,0.5)), url(/images/bg_photo2.jpg);')
        .col-md-12.search_bar
          form(method='post', action='/search')
            h1#search_header Find the working space for you
            |           
            .container-1
              input#search(type='search', placeholder='Search location or working space',name='store_name')
              |             
              button#search_button.icon(type=submit)
                i.fa.fa-search
    |   
    .container-fluid
      .row
        #about_textbox.col-md-6.offset-md-3.col-xs-12
          p This is a requirement for CS 192 under Ma'am Ma. Rowena Solamo. 
          br 
          p Developers include Sebastian Morado, Alwin De Leon, and Joshua Buslig. You can contact them at sabby.morado@gmail.com


    
    footer.footer-basic-centered
      p.footer-company-motto Finding the working space best fit for you.
      |     
      p.footer-links
        a(href='/') Home
        |       &middot;
        |       
        a(href='/about') About
        |       &middot;
        |       
        a(href='/registration') Register
      |     
      p.footer-company-name MDB &amp; Co. &copy; 2018
    |   
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    |   
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    |   
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
    |   
    script.
      $(function(){
      
      })
