//
  “This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2017-2018”
  Authored by Sebastian Morado

// 
  March 7, 2018
  Initial web code and design for add workspace functionality 

// 
  May 8, 2018
  Alpha test updates to improve UI
html
  head
    meta(name='viewport', content='width=device-width')
    | 
    meta(charset='utf-8')
    |   
    link(rel='shortcut icon', href='')
    |   
    title Workspace
    |   
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', rel='stylesheet')
    |   
    link(rel='stylesheet', type='text/css', href='/css/add_update.css')
    |   
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,500,600,700,800,900', rel='stylesheet')
    |   
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', rel='stylesheet')
  body
    //
      February 3, 2018, Sebastian Morado
      Initial html code for homepage,including search bar nav bar, filter, and footer
    nav.navbar.navbar-expand-lg.navbar-light
      a.navbar-brand(href='/')
        img#brand.d-inline-block.align-top(src='/images/assets-17.png', height='40', alt='')
      |     
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo02', aria-controls='navbarTogglerDemo02', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      |     
      #navbarTogglerDemo02.collapse.navbar-collapse.navbar-right
        ul.navbar-nav.ml-auto.mt-2.mt-lg-0
          if !isLogin
            li.nav-item
              a.nav-link(href='/registration') Register
          
          if !isLogin  
            li#sign-in.nav-item
              a.nav-link(href='/signin') Sign-in
          
          if isLogin         
            li.nav-item
              a.nav-link(href='/logout') Sign-out
          //
            March 7, 2018, Sebastian Morado
            added add entry option
          if isLogin         
            li.nav-item
              a.nav-link(href='/add') Add Entry
    |   
    .container-fluid
      .row(style='background-size: cover; background-position: center 60%; background-image: linear-gradient(rgba(35,35,35,0.5),rgba(35,35,35,0.5)), url(/images/bg_photo2.jpg);')
        .col-md-12.search_bar
          form(method='post', action='/search')
            h1#search_header Find the working space for you
            |           
            .container-1
              input#search(type='search', placeholder='Search location or working space',name='store_name')
              |             
              button#search_button.icon(type=submit)
                i.fa.fa-search
    |   
    .container-fluid
      .row.center_align
        .col-lg-12
          h1 Add New Workspace Entry
      .row
        .col-lg-8.offset-lg-2
          h2 Basic Info
      form#addws_form(action='/add/store',method='POST')
        #info_box.container-fluid.col-lg-8.offset-lg-2
          .row
            label(for='add_name') Name of Workspace
            input#add_name.text_box(type='text', placeholder='Name',name='name', required )
          .row
            label(for='add_desc') Description
            textarea#add_desc.text_box(placeholder='Description', rows="2", cols="100",name="description",required)
          .row
            label(for='add_branch') Branch Location
            input#add_branch.text_box(type='text', placeholder='Branch',name='branch',required)
          .row
            label(for='add_address') Address
            input#add_address.text_box(type='text', placeholder='Address',name='long_address',required)
          .row
            label(for='workspace_type') Workspace Type
            select#workspace_type.text_box(name='workspace_type',required)
              option(value="Restaurant" selected) Restaurant  
              option(value="Cafe") Cafe
              option(value="Co-working Space") Co-working Space
              option(value="Library") Library
              option(value="Internet Cafe") Internet Cafe
          .row
            label(for='add_coordinates') Google Maps Coordinates (in Decimal Degrees)
            input#add_coordinate_1.text_box(type='number',step="any" ,min="-180", max="180", placeholder='Longitude',name='longitude',required)
            input#add_coordinate_2.text_box(type='number',step="any" ,min="-85", max="85", placeholder='Latitude',name='latitude',required)
          .row
            #hours
              label Add Hours
              input#add_monday_hours.text_box.hours_box(type='text', placeholder='Monday',name='monday_hours',required)
              input#add_tuesday_hours.text_box.hours_box(type='text', placeholder='Tuesday',name='tuesday_hours',required)
              input#add_wednesday_hours.text_box.hours_box(type='text', placeholder='Wednesday',name='wednesday_hours',required)
              input#add_thursday_hours.text_box.hours_box(type='text', placeholder='Thursday',name='thursday_hours',required)
              input#add_friday_hours.text_box.hours_box(type='text', placeholder='Friday',name='friday_hours',required)
              input#add_saturday_hours.text_box.hours_box(type='text', placeholder='Saturday',name='saturday_hours',required)
              input#add_sunday_hours.text_box.hours_box(type='text', placeholder='Sunday',name='sunday_hours',required)
          .row
            button#copy_hours(type="button") Copy Monday Hours to All
            button#reset_hours(type="button") Reset Hours
        .row
          .col-lg-8.offset-lg-2
            br
            h2 Filter Info
        #info_box.container-fluid.col-lg-8.offset-lg-2
          .row
            label(for='wifi') Does workspace offer wifi? 
            input#wifi(type='checkbox',name='has_wifi')
          .row
            label(for='socket') Offers sockets? 
            input#socket(type='checkbox',name='has_sockets')
          .row
            label(for='time') Open until what time?
            input#time.text_box(type='time',name='latest_time_open',required)
          .row
            label(for='capacity') Max Seating Capacity
            input#capacity.text_box(type='number', placeholder='Max Capacity',name='capacity',required)
          .row
            label(for='budget') Minimum Budget (Pesos)
            input#budget.text_box(type='number', placeholder='Budget',name='min_budget',required)
          .row
            label(for='popularity') Popularity Estimate
            select#popularity.text_box(name='rating',required)
              option(value="1" selected) Not Popular
              option(value="2") Moderately Popular
              option(value="3") Very Popular
        .row.center_align
          .col-lg-12
            button#add(type="submit") Add


    
    footer.footer-basic-centered
      p.footer-company-motto Finding the working space best fit for you.
      |     
      p.footer-links
        a(href='/') Home
        |       &middot;
        |       
        a(href='/about') About
        |       &middot;
        |       
        a(href='/registration') Register
      |     
      p.footer-company-name MDB &amp; Co. &copy; 2018
    |   
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    |   
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    |   
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
    |   
    script.
      $(function(){
        $('#copy_hours').click(function(){
          var monday_value = $('#add_monday_hours').val();
          $('#add_tuesday_hours').val(monday_value);
          $('#add_wednesday_hours').val(monday_value);
          $('#add_thursday_hours').val(monday_value);
          $('#add_friday_hours').val(monday_value);
          $('#add_saturday_hours').val(monday_value);
          $('#add_sunday_hours').val(monday_value);
        })
        $('#reset_hours').click(function(){
          $('#add_monday_hours').val("");
          $('#add_tuesday_hours').val("");
          $('#add_wednesday_hours').val("");
          $('#add_thursday_hours').val("");
          $('#add_friday_hours').val("");
          $('#add_saturday_hours').val("");
          $('#add_sunday_hours').val("");
        })
      })
