//
  “This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2017-2018”
  Authored by Sebastian Morado

//
  Feb 3, 2018, Sebastian Morado
  Initial Code
// 
  March 7, 2018, Sebastian Morado
  Edited code to include more navbar options
// 
  April 10, 2018, Sebastian Morado
  Added code for home page google maps functionality

// 
  April 11, 2018, Sebastian Morado
  Fixed user tracking code
html
  head
    meta(name='viewport', content='width=device-width')
    | 
    meta(charset='utf-8')
    |   
    link(rel='shortcut icon', href='')
    |   
    title Workspace
    |   
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', rel='stylesheet')
    |   
    link(rel='stylesheet', type='text/css', href='/css/main.css')
    |   
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,500,600,700,800,900', rel='stylesheet')
    |   
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', rel='stylesheet')
  body
    //
      February 3, 2018, Sebastian Morado
      Initial html code for homepage,including search bar nav bar, filter, and footer
    nav.navbar.navbar-expand-lg.navbar-light
      a.navbar-brand(href='/')
        img#brand.d-inline-block.align-top(src='/images/assets-17.png', height='40', alt='')
      |     
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo02', aria-controls='navbarTogglerDemo02', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      |     
      #navbarTogglerDemo02.collapse.navbar-collapse.navbar-right
        ul.navbar-nav.ml-auto.mt-2.mt-lg-0
          if !isLogin
            li.nav-item
              a.nav-link(href='/registration') Register
          
          if !isLogin  
            li#sign-in.nav-item
              a.nav-link(href='/signin') Sign-in
          
          if isLogin         
            li.nav-item
              a.nav-link(href='/logout') Sign-out
          //
            March 7, 2018, Sebastian Morado
            added add entry option
          if isLogin         
            li.nav-item
              a.nav-link(href='/add') Add Entry
    |   
    .container-fluid
      .row(style='background-size: cover; background-position: center 60%; background-image: linear-gradient(rgba(35,35,35,0.5),rgba(35,35,35,0.5)), url(/images/bg_photo2.jpg);')
        .col-md-12.search_bar
          form(method='post', action='/search')
            h1#search_header Find the working space for you
            |           
            .container-1
              input#search(type='search', placeholder='Search location or working space',name='store_name')
              |             
              button#search_button.icon(type=submit)
                i.fa.fa-search
    |   
    .container-fluid
      .row.center_align
        .col-md-12
          h1 Or filter for what you need
      |     
      .row.filter
        #wifi.col-6.col-sm-4.offset-xl-3.col-xl-2.filter_option
          img#wifi_image.small_img(src='/images/assets-06.png')
          |         
          span#wifi_text Has Wifi
        |       
        #socket.col-6.col-sm-4.col-xl-2.filter_option
          img#socket_image.small_img(src='/images/assets-07.png')
          |         
          span#socket_text Has Sockets
        |       
        #time.col-6.col-sm-4.col-xl-2.filter_option
          img#time_image.small_img(src='/images/assets-09.png')
          |         
          span#time_text Open past 10 pm
        |       
        #seating.col-6.col-sm-4.offset-xl-3.col-xl-2.filter_option
          img#seating_image.large_img(src='/images/assets-11.png')
          |         
          span#seating_text(style='color:grey;') Any Seating Capacity
        |       
        #budget.col-6.col-sm-4.col-xl-2.filter_option
          img#budget_image.large_img(src='/images/assets-15.png')
          |         
          span#budget_text(style='color:grey;') Any Budget
        |       
        #popularity.col-6.col-sm-4.col-xl-2.filter_option
          img#popularity_image.large_img(src='/images/assets-01.png')
          |         
          span#popularity_text(style='color:grey;') Any Popularity
      |     
      .row.filter_button
        .col-md-12
          button#filter Go!
    |   
    // 
      April 10, 2018
      Initial HTML code for google maps and user tracking functionality
    #maps_container.container-fluid
      .row.center_align
        .col-md-12
          h1 Here are a few working spaces near you (<1 km)
      #maps_proper.row
        #map_results.col-md-4
          .container-2
            input#search2(type='search', placeholder='Filter workspaces near you',name='store_name', autocomplete="off")
            |             
            button#search_button1.icon(type=submit)
              i.fa.fa-search
            button#search_button2.icon(type=submit)
              i.fa.fa-times
        .col-md-8
          #map



    form#value_container.container-fluid(action='/search-filter',method='POST')
      input#wifi_value(type='checkbox',name='has_wifi',value='1' checked)
      input#socket_value(type='checkbox',name='has_sockets',value='1' checked)
      input#time_value(type='checkbox',name='time',value='1' checked)
      select#seating_value(name='seats')
        option(value="0" selected) 0
        option(value="1") 20
        option(value="2") 40
        option(value="3") 60
      select#budget_value(name='price')
        option(value="0" selected) 0 
        option(value="1") 100
        option(value="2") 300
        option(value="3") 300+
      select#popularity_value(name='rating')
        option(value="0" selected) 0
        option(value="1") 1
        option(value="2") 2
        option(value="3") 3
      button#filter_2(type="submit")
    
    footer.footer-basic-centered
      p.footer-company-motto Finding the working space best fit for you.
      |     
      p.footer-links
        a(href='/') Home
        |       &middot;
        |       
        a(href='/about') About
        |       &middot;
        |       
        a(href='/registration') Register
      |     
      p.footer-company-name MDB &amp; Co. &copy; 2018
    |   
    script(src='https://code.jquery.com/jquery-3.3.1.min.js', integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin='anonymous')
  
    |   
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', crossorigin='anonymous')
    |   
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
    |   
    script(type="text/javascript" src="/scripts/home2.js")
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-8Yi8R15-4pP6FN-u5mbqFNxbHgo9urY&callback=initMap&libraries=geometry")
    script(type="text/javascript" src="/scripts/home1.js")
    
        