//
  “This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2017-2018”
  Authored by Sebastian Morado

// 
  May 8, 2018
  Alpha test updates to improve UI
html
  head
    meta(name='viewport', content='width=device-width')
    | 
    meta(charset='utf-8')
    |   
    link(rel='shortcut icon', href='')
    |   
    title Workspace
    |   
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', rel='stylesheet')
    |   
    link(rel='stylesheet', type='text/css', href='/css/register.css')
    |   
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,500,600,700,800,900', rel='stylesheet')
    |   
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', rel='stylesheet')
  body
    //
      February 3, 2018, Sebastian Morado
      Initial html code for sign in box
    nav.navbar.navbar-expand-lg.navbar-light
      a.navbar-brand(href='/')
        img#brand.d-inline-block.align-top(src='./images/assets-17.png', height='40', alt='')
      |     
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo02', aria-controls='navbarTogglerDemo02', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      |     
      #navbarTogglerDemo02.collapse.navbar-collapse.navbar-right
        ul.navbar-nav.ml-auto.mt-2.mt-lg-0
          li.nav-item
            a.nav-link(href='/registration') Register
          if !isLogin  
            li#sign-in.nav-item
              a.nav-link(href='/signin') Sign-in
          if isLogin         
            li.nav-item
              a.nav-link(href='/logout') Sign-out
          
    |   
    .container-fluid
      .row(style='background-size: cover; background-position: center 60%; background-image: linear-gradient(rgba(35,35,35,0.5),rgba(35,35,35,0.5)), url(./images/bg_photo2.jpg);')
        .offset-md-2.col-md-8.search_bar
          h1#results_head
            | Help other students and workers find a work space by signing up and contributing information
    // This container displays when user successfully signs up
    #message_container.row
      .container
        #message
          .header
            br
            |           
            img(src='./images/success.png', height='22')
            |           
            h3 Successful Sign-up!
    // This container displays when user puts wrong credentials
    if message != null
      .row
        .container
          #message
            .header
              br
              |           
              h3 #{message}
    |   
    .row
      // Taken from http://cssdeck.com/labs/sleek-sign-up
      #signup_container.container
        form#signup(method='post', action='/login')
          .header
            br
            |               
            h3 Sign In
          |           
          .sep
          |           
          .inputs
            input#email(type='email', placeholder='E-mail', autofocus='',name='email')
            |               
            input#password(type='password', placeholder='Password',name='password')
            |               
            button#submit(href='#', disabled='',type='submit') SIGN IN
    |   
    footer.footer-basic-centered
      p.footer-company-motto Finding the working space best fit for you.
      |     
      p.footer-links
        a(href='/') Home
        |       &middot;
        |       
        a(href='/about') About
        |       &middot;
        |       
        a(href='/registration') Register
      |     
      p.footer-company-name MDB &amp; Co. &copy; 2018
    |   
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    |   
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    |   
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
    |   
    script.
      $(function(){
      //February 17, 2018, Sebastian Morado
      //initial code that checks the form input of the user and enables button when valid
      $('#search_button').on('click',function(){
      window.location.href = "./search_results.html";
      })
      $('#password').keyup(function(event){
        if($('#password').val().length >= 6 && $('#email').val().includes("@") && $('#email').val().length >= 6){
        $('#submit').prop('disabled', false);
        }
        else{
        $('#submit').prop('disabled', true);
        }
      });
      $('#email').keyup(function(event){
        if($('#password').val().length >= 6 && $('#email').val().includes("@") && $('#email').val().length >= 6){
        $('#submit').prop('disabled', false);
        }
        else{
        $('#submit').prop('disabled', true);
        }
      });
      })
