//
  “This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2017-2018”
  Authored by Sebastian Morado

//
  March 3, 2018, Sebastian Morado
  Initial jade code for workspace page

//
  April 10, 2018, Sebastian Morado
  Added Disqus support
html
  head
    meta(name='viewport', content='width=device-width')
    | 
    meta(charset='utf-8')
    |   
    link(rel='shortcut icon', href='')
    |   
    title Workspace
    |   
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', rel='stylesheet')
    |   
    link(rel='stylesheet', type='text/css', href='/css/workspace_page.css')
    |   
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400italic,400,500,600,700,800,900', rel='stylesheet')
    |   
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', rel='stylesheet')
  body
    nav.navbar.navbar-expand-lg.navbar-light
      a.navbar-brand(href='/')
        img#brand.d-inline-block.align-top(src='/images/assets-17.png', height='40', alt='')
      |     
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarTogglerDemo02', aria-controls='navbarTogglerDemo02', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      |     
      #navbarTogglerDemo02.collapse.navbar-collapse.navbar-right
        ul.navbar-nav.ml-auto.mt-2.mt-lg-0
          if !isLogin
            li.nav-item
              a.nav-link(href='/registration') Register
          if !isLogin  
            li#sign-in.nav-item
              a.nav-link(href='/signin') Sign-in
  
          if isLogin         
            li.nav-item
              a.nav-link(href='/logout') Sign-out
          //
            March 7, 2018, Sebastian Morado
            added add entry option
          if isLogin         
            li.nav-item
              a.nav-link(href='/add') Add Entry
    |   
    .container-fluid
      .row(style='background-size: cover; background-position: center 60%; background-image: linear-gradient(rgba(35,35,35,0.5),rgba(35,35,35,0.5)), url(/images/bg_photo2.jpg);')
        .col-md-12.search_bar
          form(method='post', action='/search')
            h1#search_header Find the working space for you
            |           
            .container-1
              input#search(type='search', placeholder='Search location or working space',name='store_name')
              |             
              button#search_button.icon(type=submit)
                i.fa.fa-search

    //
      March 3, 2018, Sebastian Morado
      Initial jade code for workspace page
    .container-fluid
      .row.margin_top
        .col-md-8.offset-md-2.flex_box
          #back
            a(href="/") < back to home
          if isLogin        
            #update
              a(href='/update/#{store._id}') update entry
      .row
        .col-md-4.offset-md-2
          // #closed should only display if restaurant is permanently closed
          h1#closed STORE IS NO LONGER OPERATING
          h1#workspace_name #{store.name}
            span#branch.sub #{store.short_address}
          span#workspace_type.sub #{store.workspace_type}
          br
          span#workspace_address.sub #{store.long_address}
          br
          span#workspace_address.sub #{store.description}
          br
          br
          br
          span.bold Hours:
          br
          #hours_container
            p Sunday: 
              span#sunday.hours #{store.hours[0]}
            p Monday: 
              span#monday.hours #{store.hours[1]}
            p Tuesday:
              span#tuesday.hours #{store.hours[2]}
            p Wednesday:
              span#wednesday.hours #{store.hours[3]}
            p Thursday:
              span#thursday.hours #{store.hours[4]}
            p Friday:
              span#friday.hours #{store.hours[5]}
            p Saturday:
              span#saturday.hours #{store.hours[6]}
        .col-md-4
          #map
      .row.filter
        #wifi.col-6.col-sm-4.offset-xl-3.col-xl-2.filter_option
         if store.has_wifi
            img#wifi_image.small_img(src='/images/wifi.png')         
            span#wifi_text(style='color:black;') Has Wifi
          else
            img#wifi_image.small_img(src='/images/no-wifi.png')         
            span#wifi_text(style='color:grey;')  Has No Wifi
          
        |       
        #socket.col-6.col-sm-4.col-xl-2.filter_option
          if store.has_sockets
            img#socket_image.small_img(src='/images/socket.png')      
            span#socket_text(style='color:black;') Has Sockets
          else
            img#socket_image.small_img(src='/images/no-socket.png')       
            span#socket_text(style='color:grey;')  Has No Sockets
        |       
        #time.col-6.col-sm-4.col-xl-2.filter_option
          if store.available_late
            img#time_image.small_img(src='/images/clock.png')
            span#time_text(style='color:black;') Open past 10 pm
          else
            img#time_image.small_img(src='/images/no-clock.png')
            span#time_text(style='color:grey;') Not open past 10 pm
        |       
        #seating.col-6.col-sm-4.offset-xl-3.col-xl-2.filter_option
          if store.number_of_chairs == 1
            img#seating_image.large_img(src='/images/seats-1.png')
            span#seating_text < 20 people
          else if store.number_of_chairs == 2
            img#seating_image.large_img(src='/images/seats-2.png')
            span#seating_text < 40 people
          else if store.number_of_chairs == 3
            img#seating_image.large_img(src='/images/seats-3.png')
            span#seating_text < 60 people
          else if store.number_of_chairs == 4
            img#seating_image.large_img(src='/images/seats-3.png')
            span#seating_text > 60 people
   
        #budget.col-6.col-sm-4.col-xl-2.filter_option
          if store.price == 1
            img#budget_image.large_img(src='/images/money-1.png')        
            span#budget_text < 100 pesos
          else if store.price == 2
            img#budget_image.large_img(src='/images/money-2.png')        
            span#budget_text < 200 pesos
          else if store.price == 3
            img#budget_image.large_img(src='/images/money-3.png')        
            span#budget_text < 300 pesos
          else if store.price == 4
            img#budget_image.large_img(src='/images/money-3.png')        
            span#budget_text > 300 pesos
                 
        #popularity.col-6.col-sm-4.col-xl-2.filter_option
          if store.rating == 1
            img#popularity_image.large_img(src='/images/stars-1.png')         
            span#popularity_text Less Popular
          else if store.rating == 2
            img#popularity_image.large_img(src='/images/stars-2.png')         
            span#popularity_text Moderately Popular
          else if store.rating == 3
            img#popularity_image.large_img(src='/images/stars-3.png')         
            span#popularity_text Very Popular
      .row
        .col-md-12
          #disqus_thread
          script.
            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://http-upworkspace-herokuapp-com.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
          
          noscript Please enable JavaScript to view the comments powered by Disqus.
                                    
           

    |   
    footer.footer-basic-centered
      p.footer-company-motto Finding the working space best fit for you.
      |     
      p.footer-links
        a(href='/') Home
        |       &middot;
        |       
        a(href='/about') About
        |       &middot;
        |       
        a(href='/registration') Register
      |     
      p.footer-company-name MDB &amp; Co. &copy; 2018
    script(id="dsq-count-scr" src="//http-upworkspace-herokuapp-com.disqus.com/count.js" async)
    |   
    script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN', crossorigin='anonymous')
    |   
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js', integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q', crossorigin='anonymous')
    |   
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js', integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl', crossorigin='anonymous')
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-8Yi8R15-4pP6FN-u5mbqFNxbHgo9urY&callback=initMap")
    script.
      var latitude = parseFloat('#{store.latitude}');
      var longitude = parseFloat('#{store.longitude}')

      $(function(){
        $('#search_button').on('click',function(){
          window.location.href = "./search_results.html";
        })

      })
    script.
      function initMap() {
          //change values of lat and lng depending on workspace location
          var uluru = {lat: latitude, lng: longitude};
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: uluru
          });
          var marker = new google.maps.Marker({
            position: uluru,
            map: map
          });
      }
